nav {
    background-color:transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10000;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 2rem 0;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            a {
                color: var(--ghost);

            }
        }
    }

    #logo {
        display: block;
        width: 7rem;
    }
}