:root {
  --black: #1a1a1a;
  --gold: #b29462;
  --satin-gold: #C3A456;
  --blue: #15365F33;
  --ghost: #F0F0F7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "futura-pt", sans-serif;
  font-weight: 900;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 0;
  list-style-type: none;
}

body {
  background-color: var(--black);
  background-image: url("../dark-leather-1920x1080.png");
}

img {
  width: 100%;
}

a, label, input, textarea, button {
  cursor: pointer;
}

p, a, label, input, textarea, button {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.8rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 2.2rem;
}

.wrapper {
  width: Min(1200px, 90vw);
  margin: auto;
}

nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

nav .wrapper ul a {
  color: var(--ghost);
}

nav #logo {
  display: block;
  width: 7rem;
}

header {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
  background-color: var(--blue);
  background: radial-gradient(circle at 50% 50%, #15365f99, #15315699, #152d4e99, #15294599, #14243d99, #13203599, #121c2d99, #11182599, #0e141e99, #0a0e1699, #05070d99, #00000099);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

header h1 {
  text-align: center;
  color: white;
  font-size: 8rem;
  line-height: 1.2;
}

.slider-thumb {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.slider-thumb::before {
  position: absolute;
  content: "";
  width: 450px;
  height: 450px;
  background: #2f2f2f9e;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}

.slider-thumb:nth-of-type(1)::before {
  left: calc(250% - 150px);
  top: calc(250% - 150px);
  width: 300px;
  height: 300px;
}

.slider-thumb:nth-of-type(2)::before {
  left: -250px;
  top: -250px;
}

.slider-thumb:nth-of-type(3)::before {
  left: -250px;
  bottom: -250px;
}

.slider-thumb:nth-of-type(4)::before {
  right: -250px;
  top: -250px;
}

.slider-thumb:nth-of-type(5)::before {
  right: -250px;
  bottom: -250px;
}

@-webkit-keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    -webkit-transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
            transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0) rotateZ(0.01deg);
            transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    -webkit-transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
            transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
/*# sourceMappingURL=style.css.map */