:root {
    --black: #1a1a1a;
    --gold: #b29462;
    --satin-gold: #C3A456;
    --blue: #15365F33;
    --ghost: #F0F0F7;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: 62.5%;
    font-family: "futura-pt", sans-serif;
    font-weight: 900;

    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 0;
    list-style-type: none;
}

body {
    background-color: var(--black);
    background-image: url('../dark-leather-1920x1080.png');
}

img {
    width: 100%;
}

a, label, input, textarea, button {
    cursor: pointer;
}

p, a, label, input, textarea, button {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 2.2rem;
}

.wrapper {
    width: Min(1200px, 90vw);
    margin: auto;
}

@import "navigation";

header {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 10;

    background-color: var(--blue);

    background: radial-gradient(circle at 50% 50%, #15365f99, #15315699, #152d4e99, #15294599, #14243d99, #13203599, #121c2d99, #11182599, #0e141e99, #0a0e1699, #05070d99, #00000099);

    backdrop-filter: blur(0px);

    h1 {
        text-align: center;
        color: white;
        font-size: 8rem;
        line-height: 1.2;
    }
}

.slider-thumb {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 0;

    &::before {
        position: absolute;
        content: "";
        width: 450px;
        height: 450px;
        background: #2f2f2f9e;
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        will-change: border-radius, transform, opacity;
        animation: sliderShape 5s linear infinite;
        display: block;
        z-index: -1;
        -webkit-animation: sliderShape 5s linear infinite;
    }

    &:nth-of-type(1)::before {
        left: calc(250% - 150px);
        top: calc(250% - 150px);

        width: 300px;
        height: 300px;
    }

    &:nth-of-type(2)::before {
        left: -250px;
        top: -250px;
    }

    &:nth-of-type(3)::before {
        left: -250px;
        bottom: -250px;
    }

    &:nth-of-type(4)::before {
        right: -250px;
        top: -250px;
    }

    &:nth-of-type(5)::before {
        right: -250px;
        bottom: -250px;
    }
}

@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
