#contact-cta {
    width: 100%;
    padding: 10rem 0rem;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        h2, h2 span {
            display: block;
            color: white;
            font-size: 3.2rem;
            font-weight: 200;
            line-height: 5rem;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.15rem;

            span {
                font-size: 3.6rem;
                font-weight: 500;
            }
        }

        a {
            display: block;
            width: max-content;
            border: 1px solid var(--gold);

            margin: 0 auto;
            padding: 1.5rem 6.2rem;
            

            text-transform: uppercase;
            letter-spacing: 0.3rem;
            font-size: 1.6rem;
            font-weight: 750;
            text-align: center;
            word-spacing: 0.3rem;
            color: var(--black);

            background-color: #0000001f;
            background-color: var(--gold);
            background-color: #BC976Fbd;
            backdrop-filter: blur(10px);            
        }
    }
}

#contact {
    padding-bottom: 5rem;

    p {
        margin-top: 2rem;
        opacity: 0.9;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 3rem 0;

        button {
            font-size: 1.6rem;
            background-color: var(--gold);
            color: var(--black);
            padding: 1.8rem 0;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 0;

        li {
            a {
                font-size: 1.6rem;
                opacity: 0.9;
            }
        }
        
        &.horizontal {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;

            svg {
                width: 2rem;
            }
        }
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.6rem;

    input, textarea {
        background-color: transparent;
        border: 1px solid #ffffff50;
        padding: 1.8rem 1.5rem;
        color: white;
        font-size: 1.6rem;
        transition: 0.3s;
        letter-spacing: 0.1rem;

        &:focus {
            border-color: var(--gold-transparent);
        }
    }

    textarea {
        height: 12rem;
        font-family: Outfit;
    }
}

@media only screen and (min-width: 860px) {
    #contact-cta {
        height: 80vh;
        display: flex;
        align-items: center;

        .wrapper {
            h2, h2 span {
                font-size: 8.2rem !important;
                line-height: 12rem;
            }
        }
    }
}