header {
    width: 100vw;

    overflow: hidden;

//    background: linear-gradient(to bottom, var(--black) 5%, #161919 20%, #2E2B26 45%, #463D32 90%, #514638 100%, var(--gold) 120%);
    background-color: transparent;

    position: relative;


   .overlay {
        background-image: url('/images/Header-Background.png');
        background-position: center 10rem;
        background-repeat: no-repeat;
        background-size: contain;

        width: 100%;
        height: 200%;

        position: absolute;
        z-index: 0;
    }

    .wrapper {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:first-of-type {
            padding-top: 15rem;
        }

        &:nth-of-type(2) {
            margin-top: 6rem;
            padding: 5rem 3rem;

            display: flex;
            flex-direction: column;
            gap: 3.5rem;

            background-color: #111517;
            background: linear-gradient(-45deg, #111517a8 54%, #bc976f29);

            .info-box {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
                justify-content: center;
                
                a {
                    color: var(--gold);
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;

                    text-decoration: underline;
                    text-underline-offset: 0.7rem;
                }
            }
        }

        h1, h1 span, h2, h2 span {
            text-transform: uppercase;

            font-size: 3.2rem;
            font-weight: 100;
            line-height: 4.5rem;

            color: var(--white);

            span {
                font-weight: 500;
                color: var(--gold);
                // TODO text gradient
            }
        }

        h2, h2 span {
            font-size: 2.8rem;
            line-height: 3.8rem;
            text-align: center;
        }

        p {
            color: var(--white);
            opacity: 0.6;
            text-align: center;
            font-size: 1.9rem;
            line-height: 3rem;
            font-weight: 300;
        }

        .cta {
            display: block;
            padding: 0 4rem;
            margin: 6rem auto 4rem;
            
            font-size: 1.4rem;
            font-weight: 100;

            color: var(--white);

            height: 4.4rem;
            border-radius: 0rem;

            background-color: #0000001f;
            border: 1px solid var(--gold);
            // TODO gradient border
            backdrop-filter: blur(10px);

            text-transform: uppercase;
            letter-spacing: 0.3rem;
        }
    }

    .scroll-seperator {
        white-space: nowrap;
        padding: 2rem 1rem 0;
        position: relative;
        transform: translateX(0);
        transition: transform 0.1s linear;

        p, div {
            display: inline-block;
        }
        
        p {
            color: var(--gold);

            font-size: 1rem;
            font-family: 'Syncopate';
        }

        div {
            height: 1.5rem;
            width: 0.1rem;
            background-color: var(--gold);
            margin: 0 1rem -0.4rem;
        }
    }

    .snapp {
        display: none;
        white-space: nowrap;
        overflow: scroll !important;
        scroll-snap-type: x mandatory;
        width: 100vw;
        margin-top: 5rem;
        padding: 0 3rem;

        position: relative;
        z-index: 10;

        .card {
            display: inline-block;
            width: 25rem;
            
            margin-right: 3rem;

            border: 2px solid var(--gold);
            border-radius: 2.5rem;

            background-color: #111517bf;
            backdrop-filter: blur(10px);
            scroll-snap-align: center;

            &:last-of-type {
                margin-right: 0;
            }

            svg {
                display: block;
                margin: 3rem auto 1rem;
                width: 5rem;
                height: 5rem;
            }

            h3, p {
                text-align: center;
                color: var(--white);
            }

            h3 {
                font-size: 2.5rem;
                line-height: 3.2rem;
                margin: 2rem 0;
                font-weight: 200;
            }

            p {
                font-size: 1.6rem;
                line-height: 2.2rem;
                opacity: 0.6;
                white-space: wrap;
                margin: 0 3rem 3rem;
            }
        }
    }
}