nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: var(--black);
    background-color: transparent;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-wrapper {
        padding: 3rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #text-logo {
        font-size: 1.7rem;
        color: var(--gold);
        font-family: 'Amiri';
    }

    #hamburger {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        background-color: transparent;

        span {
            display: block;

            width: 2.3rem;
            height: 0.1rem;

            background-color: var(--gold);

            &:nth-of-type(2) {
                width: 1.8rem;
            }
        }
    }
}