#service {
    .overlay {
        background-image: url('/images/Header-Background.png');
        background-position: center 3rem;
        background-repeat: no-repeat;
        background-size: contain;

        width: 100vw;
        aspect-ratio: 1 / 2;

        position: absolute;
        z-index: 0;
    }

    .wrapper {
        z-index: 100;
        position: relative;
        padding-top: 4rem;
        padding-bottom: 5rem;

        white-space: wrap;

        h2, h2 span {
            color: white;
            font-size: 2.5rem;
            font-weight: 200;
            line-height: 4rem;
            text-transform: uppercase;

            span {
                font-weight: 500;
            }
        }
    }

    .card-wrapper {
        margin: 0rem 0 6rem 0;

        white-space: nowrap;
        overflow-x: scroll;

        overflow: scroll;
        scroll-snap-type: x mandatory;

        .card {
            white-space: wrap;
            display: inline-block;
            width: calc(100% - 10%);

            scroll-snap-align: center;
            
            background: #1111110D;
            backdrop-filter: blur(3px);
            
            padding: 3.5rem 2.5rem;
            margin-left: 5vw;

            border: 1px solid #BC976F4F;
            margin-bottom: 3rem;

            &:last-of-type {
                margin-right: 5vw;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 3.5rem;

                h2 {
                    color: white;
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 3rem;
                    text-transform: uppercase;
                    text-align: center;
                }

                h3 {
                    font-size: 1.6rem;
                    line-height: 3rem;
                    color: var(--white);
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 200;
                }

                p {
                    color: white;
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 2.5rem;
                    font-weight: 300;
                }
            }
        }
    }
}