:root {
  --black: #0f0f0f;
  --black-transparent: #1111110d;
  --gold: #BC976F;
  --gold-transparent: #BC976Fbd;
  --white: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  background-color: var(--black);
}

body {
  font-family: Outfit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
  padding-top: 10rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  outline: none;
  border: none;
  list-style-type: none;
  scrollbar-width: none;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, label, input, textarea {
  cursor: pointer;
}

h1, h1 span, h2, h2 span, h3, h4, h5 {
  text-transform: uppercase;
}

h1, h1 span, h2, h2 span {
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 4.5rem;
}

h1 span, h1 span span, h2 span, h2 span span {
  font-weight: 500;
}

h2, h2 span {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 4rem;
}

h2 span, h2 span span {
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 200;
}

p {
  color: white;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
}

::-moz-selection {
  background-color: var(--gold);
}

::selection {
  background-color: var(--gold);
}

.wrapper {
  width: Min(90vw, 130rem);
  margin: auto;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--black);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 2.5rem 0;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #text-logo {
  font-size: 1.7rem;
  color: var(--gold);
  font-family: 'Amiri';
}

nav #hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
  background-color: transparent;
}

nav #hamburger.open span:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

nav #hamburger.open span:nth-of-type(2) {
  width: 0;
  opacity: 0;
}

nav #hamburger.open span:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -7px;
}

nav #hamburger span {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 2.3rem;
  height: 0.1rem;
  background-color: var(--gold);
  position: relative;
  top: 0;
}

nav #hamburger span:nth-of-type(2) {
  width: 1.8rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header {
  width: 100vw;
  background-color: transparent;
  position: relative;
  padding-top: 5rem;
}

header .wrapper {
  position: relative;
  z-index: 1;
  overflow: visible;
}

header .wrapper:nth-of-type(2) {
  margin-top: 6rem;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.5rem;
  background-color: #111517;
  background: linear-gradient(-45deg, #111517a8 54%, #bc976f29);
}

header .wrapper:nth-of-type(2) .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .wrapper:nth-of-type(2) .info-box a {
  color: var(--gold);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}

header .wrapper .cta {
  display: block;
  padding: 2rem 4rem;
  margin: 15rem auto 4rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--white);
  height: 5.5rem;
  border-radius: 0rem;
  background-color: var(--black-transparent);
  border: 1px solid var(--gold-transparent);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

header .scroll-seperator {
  white-space: nowrap;
  padding: 2rem 1rem 0;
  position: absolute;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0s linear;
  transition: -webkit-transform 0s linear;
  transition: transform 0s linear;
  transition: transform 0s linear, -webkit-transform 0s linear;
  z-index: 10;
  margin-top: 4rem;
  left: -1rem;
}

header .scroll-seperator p, header .scroll-seperator div {
  display: inline-block;
}

header .scroll-seperator p {
  color: var(--white);
  font-size: 1rem;
  font-family: 'Syncopate';
  font-weight: 900;
}

header .scroll-seperator div {
  height: 1.5rem;
  width: 0.1rem;
  background-color: var(--white);
  margin: 0 1rem -0.4rem;
}

@media only screen and (max-width: 380px) {
  header .wrapper .cta {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    height: 4.5rem;
  }
}

#service .overlay {
  background-image: url("/images/Header-Background.png");
  background-position: center 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  aspect-ratio: 1 / 2;
  position: absolute;
  z-index: 0;
}

#service .wrapper {
  z-index: 100;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 1rem;
  white-space: wrap;
}

#service .card-wrapper-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 0 1rem;
  margin-top: -0.5rem;
}

#service .card-wrapper-arrows button {
  padding: 0rem 0rem;
  width: 3rem;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#service .card-wrapper-arrows button:last-of-type {
  margin-right: -1rem;
}

#service .card-wrapper-arrows button:disabled {
  opacity: 0.5;
}

#service .card-wrapper-arrows button svg {
  stroke: var(--gold);
}

#service .card-wrapper {
  margin: 0rem 0 0rem 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

#service .card-wrapper .card {
  white-space: wrap;
  display: inline-block;
  width: calc(100% - 10%);
  scroll-snap-align: center;
  background: #1111110D;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 3.5rem 0rem 0;
  margin-left: 5vw;
  border: 1px solid #BC976Fbd;
  margin-bottom: 3rem;
}

#service .card-wrapper .card:last-of-type {
  margin-right: 5vw;
}

#service .card-wrapper .card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.5rem;
}

#service .card-wrapper .card .content h3 {
  text-align: center;
  letter-spacing: 0.1rem;
}

#service .card-wrapper .card .content h4 {
  margin-inline: 2.5rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

#service .card-wrapper .card .content p {
  text-align: center;
  margin-inline: 2.5rem;
  letter-spacing: 0.05rem;
}

#service .card-wrapper .card .content a {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  height: 4.6rem;
  line-height: 4.4rem;
  background-color: #BC976Fbd;
  color: var(--black);
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#service .card-wrapper-bullets {
  padding: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

#service .card-wrapper-bullets .bullet {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  background: #1111110D;
  border: 1px solid var(--gold);
  border-radius: 50%;
  opacity: 0.21;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#service .card-wrapper-bullets .bullet.active {
  opacity: 1;
}

#service .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  margin-top: 4rem;
}

#service .info h3 {
  color: var(--gold);
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
}

#service .info p {
  opacity: 0.9;
  letter-spacing: 0.05rem;
}

#testemonials {
  position: relative;
  padding-bottom: 10rem;
}

#testemonials .overlay {
  background-image: url("/images/Logo-Pattern.png");
  background-position: center -8rem;
  background-repeat: repeat;
  background-size: 200vw;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 0;
}

#testemonials h2, #testemonials h2 span {
  padding-top: 7rem;
}

#testemonials h2 span, #testemonials h2 span span {
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
}

#testemonials .testimonials-wrapper {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  padding-right: 5vw;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

#testemonials .testemonial {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 2rem auto 2rem;
  border: 1px solid var(--gold);
  scroll-snap-align: center;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: var(--black);
  white-space: wrap;
  margin-left: 5vw;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: #1111110d;
}

#testemonials .testemonial .profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 3rem 2rem 2rem;
}

#testemonials .testemonial .profile-box .profile-name {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}

#testemonials .testemonial .profile-box .profile-picture {
  border-radius: 50%;
}

#testemonials .testemonial .profile-box .profile-picture img {
  width: 100%;
  width: 7rem;
  height: 7rem;
  aspect-ratio: 1 / 1;
}

#testemonials .testemonial .stars-box {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#testemonials .testemonial .comment {
  padding: 3rem 2rem 4rem;
  text-align: center;
}

#contact-cta {
  width: 100%;
  margin-top: -2rem;
  padding: 1rem 0rem 9rem;
}

#contact-cta .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

#contact-cta .wrapper h2, #contact-cta .wrapper h2 span {
  display: block;
  color: white;
  font-size: 3.2rem;
  font-weight: 200;
  line-height: 5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.15rem;
}

#contact-cta .wrapper h2 span, #contact-cta .wrapper h2 span span {
  font-size: 3.6rem;
  font-weight: 500;
}

#contact-cta .wrapper a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid var(--gold);
  margin: 0 auto;
  padding: 1.5rem 6.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  font-weight: 750;
  text-align: center;
  word-spacing: 0.3rem;
  color: var(--black);
  background-color: #0000001f;
  background-color: var(--gold);
  background-color: #BC976Fbd;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#contact {
  padding-bottom: 5rem;
}

#contact p {
  margin-top: 2rem;
  opacity: 0.9;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  padding: 3rem 0;
}

#contact form button {
  font-size: 1.6rem;
  background-color: var(--gold);
  color: var(--black);
  padding: 1.8rem 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 0;
}

#contact ul li a {
  font-size: 1.6rem;
  opacity: 0.9;
}

#contact ul.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#contact ul.horizontal svg {
  width: 2rem;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}

.input-box input, .input-box textarea {
  background-color: transparent;
  border: 1px solid #ffffff50;
  padding: 1.8rem 1.5rem;
  color: white;
  font-size: 1.6rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1rem;
}

.input-box input:focus, .input-box textarea:focus {
  border-color: var(--gold-transparent);
}

.input-box textarea {
  height: 12rem;
  font-family: Outfit;
}

#faq {
  margin-top: 2rem;
}

#faq .selection-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  padding: 2.5rem 5vw 4rem 0;
  overflow-x: scroll;
}

#faq .selection-box .row {
  gap: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 5vw;
  white-space: nowrap;
}

#faq .selection-box .row button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
  padding: 1rem;
  border: 1px solid #BC976Fbd;
  font-size: 1.4rem;
  background-color: transparent;
  color: #ffffffbd;
  border-radius: 0.3rem;
  scroll-snap-align: start;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  margin-left: 1rem;
}

#faq .selection-box .row button.active {
  background-color: #BC976Fbd;
  color: var(--black);
  font-weight: 700;
}

#faq .selection-box .row button:first-of-type {
  margin-left: 0rem;
}

#faq .selection-box .row button:last-of-type {
  margin-right: 5vw;
}

#faq .wrapper.faq {
  margin-bottom: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

#faq .wrapper.faq .faq-box {
  border-bottom: 1px solid #BC976Fbd;
}

#faq .wrapper.faq .faq-box .faq-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-color: transparent;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: left;
  line-height: 2.6rem;
}

#faq .wrapper.faq .faq-box .faq-button .faq-icon {
  width: 2rem;
  height: 2rem;
  position: relative;
}

#faq .wrapper.faq .faq-box .faq-button .faq-icon .faq-line {
  width: 2rem;
  height: 0.1rem;
  background-color: var(--white);
  display: block;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#faq .wrapper.faq .faq-box .faq-button .faq-icon .faq-line:first-of-type {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#faq .wrapper.faq .faq-box .faq-button .faq-icon .faq-line:last-of-type {
  -webkit-transform: rotate(90deg) translate(-4%, -15%);
          transform: rotate(90deg) translate(-4%, -15%);
  top: 50%;
}

#faq .wrapper.faq .faq-box p {
  padding-left: 4rem;
  padding-top: 3rem;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#faq .wrapper.faq .faq-box.active .faq-button .faq-icon .faq-line:last-of-type {
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}

#faq .wrapper.faq .faq-box.active p {
  padding-bottom: 3rem;
}

footer {
  width: 100vw;
  background-color: var(--gold);
  padding: 7rem 0 7rem;
}

footer li, footer a {
  color: var(--black);
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

footer .wrapper .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrapper .horizontal a {
  font-size: 1.6rem;
}

footer .wrapper .horizontal a svg {
  width: 3rem;
  height: 3rem;
  stroke: var(--black);
}

footer .wrapper .horizontal a svg.x {
  stroke: none;
  fill: var(--black);
}

footer .wrapper .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 1.5rem);
}

footer .wrapper .list li.heading {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

footer .wrapper .list li .link {
  display: block;
  font-size: 1.8rem;
  padding: 0.8rem 0;
}

footer .wrapper:first-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

footer .wrapper:last-of-type {
  padding-top: 7rem;
  gap: 5rem;
}

@media only screen and (max-width: 380px) {
  h1, h1 span {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  h2, h2 span {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .small {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */