.privacy {
    padding-block: 15rem 10rem;
}

.privacy h1 {
    text-align: left;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.block {
    padding: 1rem;
}

.block h2 {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    color: var(--gold);
}

.block p,
.block li,
.block strong {
    line-height: 1.8;
    color: #ccc;
    margin-bottom: 1rem;
    list-style-type: disc;
}

.block ul {
    margin-left: 2rem;
    list-style: disc;
}

.block a {
    font-size: 1.5rem;
    color: var(--gold);
    text-decoration: underline;
}

/* Remove grid layout override completely, so blocks remain stacked on all screen sizes */
@media screen and (min-width: 860px) {
    .container {
        flex-direction: column;
    }
}
